@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  font-family: "Cairo", sans-serif;
}

.label_wrapper__ {
  padding: 1cm;
  width: 15cm;
  height: 10cm;
  background-color: #fff;
}

.icon__ {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5px;
}

.label_body_wrapper__ {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  row-gap: 7px;
}
.label_body_wrapper__ .strip__ {
  font-size: 12px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.label_body_wrapper__ .strip__ .title__ {
  font-weight: 800;
  text-align: end;
}
.label_body_wrapper__ .strip__ .info__ {
  color: #707070;
  font-weight: 500;
  text-align: center;
}
.label_body_wrapper__ .strip__.detailes_strip__ {
  grid-column: span 2;
  grid-template-columns: 25% 75%;
}
.label_footer_wrapper__ {
  margin-top: 25px;
}