@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

@mixin dir {
  html[dir="#{$dir}"] & {
    @content;
  }
}

$dir: "ltr";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  height: 100vh;
  font-family: "Cairo", sans-serif;
  
}

.invoice_wrapper__ {
  width: 21cm;
  height: 29.7cm;
  height: fit-content;
  background-color: #fff;
  padding-inline-end: 1.4cm;
  
  @include dir {
    padding: 0 !important;
  }
}

.invoice_head_wrapper__ {
  margin-bottom: 20px;

  .icon__ {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .main_title__ {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }

  .invoice_info_wrapper__ {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    row-gap: 10px;
  }

  .invoice_info_block__ {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 10px;

    .title__ {
      font-size: 16px;
      font-weight: 800;
      color: #000;
      text-align: end;
    }
    .info__ {
      font-size: 14px;
      font-weight: 500;
      color: #707070;
      text-align: start;
      width: 100%;
    }
  }
}

.invoice_body_wrapper__ {
  .strip__ {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 25% 35% 15% 10% 10%;
    background-color: rgba(#000000, 0.06);
    
    .barcode_info_wrapper__ {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.5;
    }

    .barcode_img__ {
      max-width: 100%;
    }


    &:not(:last-of-type) {
      border-bottom: 3px solid #fff;
    }
  }
  
  .text {
    padding: 7px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;

    &:not(:last-of-type) {
      border-left: 3px solid #fff;
      
      @include dir {
        border-left:0;
        border-right: 3px solid #fff;
      }
      
    }
  }
  
  
  .strip_head__ {
    background-color: rgba(#000000, 0.70);
    border-radius: 5px;
    
    .text {
      min-height: 100%;
      font-weight: 600;
      color: #fff;
    }
  }
}

.invoice_footer_wrapper__ {
  margin-top: 10px;

  .title__ {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  .signatories_title__ {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signatories_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
  }
}